---
import Icon from '../../components/Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Expert Python, SQL & VBA</h2>
        <p>
			En tant que passionné autodidacte de programmation, je développe des solutions logicielles efficaces en Python, avec une spécialisation en Data Scraping.
			J'utilise une variété de méthodes, dont Selenium et Requests, pour extraire des données tout en contournant les obstacles comme ReCaptcha et le blacklisting.
			En plus de ma pratique professionnelle, je suis formateur en Python et VBA, intervenant dans des établissements d'enseignement supérieur, où je transmets ma passion et mon expertise.
		</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Analyste Financier & Consultant en Data</h2>
        <p>
			Titulaire d'un diplôme en finance, je me distingue par ma capacité à fusionner des compétences techniques avec une compréhension approfondie des enjeux métiers. Ma spécialisation réside dans l'élaboration de tableaux de bord sophistiqués et le calcul de marges, tout en me focalisant sur les besoins métiers spécifiques pour fournir des analyses et des recommandations sur mesure.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="ethereum" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Développeur Web3, Javascript & Solidity</h2>
        <p>Je conçois des solutions décentralisées sur des blockchains EVM, en utilisant une combinaison de React, Node.js et Solidity. Ma maîtrise technique s'étend principalement au développement backend, avec une expertise particulière dans la gestion des API et le stockage de données peer-to-peer via IPFS. Toutefois, ma polyvalence me permet également de prendre en charge le frontend pour une intégration complète.</p>
    </div>
</section>


<style>

	h2 {
		text-align: center;
	}
	p {
		text-align: justify;
	}
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
