---
import CustomLayout from '../../layouts/CustomLayout.astro';
import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';

---

<CustomLayout title="Mon Parcours | Benjamin Breton" description="Parcours de Benjamin Breton">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon Parcours"
				tagline="Merci de votre visite. Continuez à lire ci-dessous pour en savoir plus à mon sujet"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Benjamin Breton au travail à son bureau"
				/>
			</Hero>
	</div>

		<section>
			<h3 class="category-cv"><Icon icon="terminal" /> Expériences</h2>
			<h3 class="category">Data Scraping</h3>
			<table class="experience">
				<tr>
					<td class="exp-separation">
						<p class="exp-header">Freelance</p>
							<li class="exp">Elaboration de projets avec les librairies <strong>Requests, Selenium, PyAutogui et Scrapy</strong> </li>
							<li class="exp">Eviter les blocages côté serveur: requêtes espacées aléatoirement, user-agent et cookies correctement définis </li>
							<li class="exp">Automatiser l'authentification par <strong>login</strong></li>
							<li class="exp">Eviter la détection <strong>ReCaptcha</strong></li>
							<li class="exp">Mise en place d'un système de <strong>changement d'adresse IP</strong></li>
							<li class="exp">Stockage des données sous  <strong>MySQL/ PhpMyAdmin/ MariaDB</strong></li>
					</td>
					
				</tr>
			</table>
			<h3 class="category">Data Science Python</h3>
			<table class="experience">
				<tr>
					<td class="exp-separation">
						<p class="exp-header">Freelance</p>
							<li class="exp">Préparation et analyse de données avec les librairies <strong>Pandas, Numpy et Math</strong> </li>
							<li class="exp">Visualisation des données avec <strong>Matplotlib et Seaborn</strong> afin d'obtenir des graphiques esthétiques</li>
							<li class="exp">Envoyer des queries à des bases de données de type SQL avec <strong>sqlAlchemy</strong></li>
							<li class="exp">Dashboards dynamiques avec <strong>PowerBI</strong></li>
					</td>
					
				</tr>
			</table>
			<h3 class="category">Trading Algorithmique</h3>
			<table class="experience">
				<tr>
					<td class="exp-separation">
						<p class="exp-header">Freelance</p>
							<li class="exp">Utiliser <strong>Math, Pandas, ta et ta-lib</strong> pour le calcul d'indicateurs techniques</li>
							<li class="exp"> Visualiser des données financières avec <strong>mplfinance</strong></li>
							<li class="exp">Réaliser un algorithme de trading avec Binance API et WebSocket</li>
							<li class="exp">Sécuriser ses stratégies avec l'annulation proactive des ordres non exécutés</li>
							<li class="exp">Maintenir un suivi des performances avec des KPIs disponibles sur une interface de contrôle Telegram</li>
					</td>
					
				</tr>
			</table>
			<h3 class="category">Pricing Analyst</h3>
			<table class="experience">
				<tr>
					<td class="exp-separation">
						<p class="exp-header">CNH INDUSTRIAL - Turin - Italie - De novembre 2021 à octobre 2023</p>
						<li class="exp">Développement d'une version automatisée de nombreux rapports de prix pour les régions EMEA et AME. </li>
						<li class="exp">Création d'un algorithme d'automatisation des réponses aux demandes de prix manquants</li>
						<li class="exp">Introduction de nouveaux KPIs, tels que l'élasticité des prix, et conception de solutions innovantes pour le repositionnement des prix. </li>
						<li class="exp">Analyser avec le logiciel Alteryx: aider le département logistique à redéfinir des pack quantities adaptés en fonction de nos ventes.</li>
					</td>
					
				</tr>

			</table>

			<h3 class="category">Strategic Buyer</h3>
			<table class="experience">
				<tr>
					<td class="exp-separation">
						<p class="exp-header">Airbus Helicopters - Marignane - Depuis septembre 2019</p>
						<li class="exp">Gérer un portefeuille de fournisseurs (3M€ de chiffre d'affaires annuel) : Ressorts et Raccords </li>
						<li class="exp">Gestion des urgences de pièces manquantes par des demandes de devis aux fournisseurs</li>
						<li class="exp">Challenger des fournisseurs par des projets de ressourcement </li>
					</td>
					
				</tr>
			</table>		
		</section>
		<section>
			<h3 class="category-cv"><Icon icon="pencil-line" size="1.33em" /> Formation</h2>
			<table class="formation">
				<tr>
					<th>Etablissement</th>
					<th>Classe</th>
					<th>Niveau</th>
					<th>Lieu</th>
				</tr>
				<tr>
					<td>Kedge BS (EQUIS, AACSB and AMBA)</th>
					<td>Programme Grande Ecole</th>
					<td>Master 2</th>
					<td>Bordeaux / Marseille</th>
				</tr>
				<tr>
					<td>Lycée Emmanuel D'Alzon</th>
					<td>CPGE ECS</th>
					<td>Prepa</th>
					<td>Nimes</th>
				</tr>
			</table>
		</section>
			<section>
				<h3 class="category-cv"><Icon icon="microphone-stage" size="1.33em" /> Langues</h2>
				<table>
					<tr>
						<td>Français</td>
						<td>Maternelle</td>
					</tr>
					<tr>
						<td>Anglais</td>
						<td>Courant</td>
					</tr>
					<tr>
						<td>Italien</td>
						<td>Courant</td>
					</tr>
					<tr>
						<td>Portugais</td>
						<td>Courant</td>
					</tr>
					<tr>
						<td>Espagnol</td>
						<td>Usuel</td>
					</tr>
				</table>
			</section>
		</main>
		<ContactCTA />
</CustomLayout>

<style>

	.category-cv {
		text-align: center;
		margin-top: 3%;
		margin-left: auto;
		margin-right: auto;
		border: 0.1rem solid var(--gray-100);
		padding: 1.5%;
		border-radius: 2.5rem;
		margin-bottom: 2%;
		margin-top: 5%;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 1%; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 1%; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}
	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	h3 {
		margin-top: 2%;
		margin-bottom: 3%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(---gray-900);
	}

	h3.category {
		margin-top: 2%;
		margin-bottom: 0.5%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(--sep-experience);
	}
	p {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		margin-bottom: 1%;
	}

	li.exp {
		width: 100%;
		text-align: justify;
		margin-bottom: 2%;
	}

	.description li {
    list-style-type: none; /* Supprime le style de liste par défaut */
    position: relative;
    padding-left: 1%; /* Espace pour la flèche */
}
	p.exp-header {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-decoration: underline;
		margin-bottom: 3%;
	}
	table {
		width: 40%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3%;
	}

	table.formation {
		width: 60%;
		border-collapse: collapse;
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
	}
	table.experience {
		width: 60%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	th {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
		background-color: var(---gray-900);
		color : var(--gray-400);
	}

	td {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
	}

	td.exp-separation {
		padding: 1%;
		text-align: center;
		border-bottom: 0.1rem solid var(--sep-experience);
	}
	.icon {
		background-color: #f44336;
		color: white;
		padding: 1% 1%;
		border-radius: 2%;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
