---
import CustomLayout from '../../layouts/CustomLayout.astro';
import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';
---

<CustomLayout title="Minha Carreira | Benjamin Breton" description="Carreira de Benjamin Breton">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="Minha Carreira"
                tagline="Obrigado pela visita. Continue lendo abaixo para saber mais sobre mim"
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Benjamin Breton trabalhando em sua mesa"
                />
            </Hero>
    </div>

        <section>
            <h3 class="category-cv"><Icon icon="terminal" /> Experiências</h2>
            <h3 class="category">Data Scraping</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Desenvolvimento de projetos com as bibliotecas <strong>Requests, Selenium, PyAutogui e Scrapy</strong></li>
                            <li class="exp">Evitar bloqueios do lado do servidor: requisições espaçadas aleatoriamente, user-agent e cookies definidos corretamente</li>
                            <li class="exp">Automatizar a autenticação por <strong>login</strong></li>
                            <li class="exp">Evitar detecção de <strong>ReCaptcha</strong></li>
                            <li class="exp">Implementação de um sistema de <strong>mudança de endereço IP</strong></li>
                            <li class="exp">Armazenamento de dados em <strong>MySQL/ PhpMyAdmin/ MariaDB</strong></li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Data Science Python</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Preparação e análise de dados com as bibliotecas <strong>Pandas, Numpy e Math</strong></li>
                            <li class="exp">Visualização de dados com <strong>Matplotlib e Seaborn</strong> para obter gráficos estéticos</li>
                            <li class="exp">Enviar queries para bancos de dados do tipo SQL com <strong>sqlAlchemy</strong></li>
                            <li class="exp">Dashboards dinâmicos com <strong>PowerBI</strong></li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Trading Algorítmico</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Usar <strong>Math, Pandas, ta e ta-lib</strong> para cálculo de indicadores técnicos</li>
                            <li class="exp">Visualizar dados financeiros com <strong>mplfinance</strong></li>
                            <li class="exp">Criar um algoritmo de trading com Binance API e WebSocket</li>
                            <li class="exp">Proteger estratégias com cancelamento proativo de ordens não executadas</li>
                            <li class="exp">Manter o acompanhamento de desempenho com KPIs disponíveis em uma interface de controle Telegram</li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Analista de Preços</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">CNH INDUSTRIAL - Turim - Itália - De novembro de 2021 a outubro de 2023</p>
                        <li class="exp">Desenvolvimento de uma versão automatizada de numerosos relatórios de preços para as regiões EMEA e AME.</li>
                        <li class="exp">Criação de um algoritmo de automação para respostas a pedidos de preços faltantes</li>
                        <li class="exp">Introdução de novos KPIs, como a elasticidade de preços, e concepção de soluções inovadoras para reposicionamento de preços.</li>
                        <li class="exp">Análise com o software Alteryx: auxiliar o departamento logístico na redefinição de quantidades de embalagem adequadas com base em nossas vendas.</li>
                    </td>
                    
                </tr>

            </table>

            <h3 class="category">Comprador Estratégico</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Airbus Helicopters - Marignane - Desde setembro de 2019</p>
                        <li class="exp">Gerenciamento de um portfólio de fornecedores (faturamento anual de €3M): Molas e Conexões</li>
                        <li class="exp">Gestão de emergências de peças faltantes por meio de pedidos de cotação a fornecedores</li>
                        <li class="exp">Desafiar fornecedores com projetos de realocação</li>
                    </td>
                    
                </tr>
            </table>      
        </section>
        <section>
            <h3 class="category-cv"><Icon icon="pencil-line" size="1.33em" /> Formação</h2>
            <table class="formation">
                <tr>
                    <th>Instituição</th>
                    <th>Programa</th>
                    <th>Nível</th>
                    <th>Local</th>
                </tr>
                <tr>
                    <td>Kedge BS (EQUIS, AACSB e AMBA)</th>
                    <td>Programa Grande Ecole</th>
                    <td>Mestrado 2</th>
                    <td>Bordéus / Marselha</th>
                </tr>
                <tr>
                    <td>Lycée Emmanuel D'Alzon</th>
                    <td>CPGE ECS</th>
                    <td>Classe Preparatória</th>
                    <td>Nimes</th>
                </tr>
            </table>
        </section>
            <section>
                <h3 class="category-cv"><Icon icon="microphone-stage" size="1.33em" /> Idiomas</h2>
                <table>
                    <tr>
                        <td>Francês</td>
                        <td>Nativo</td>
                    </tr>
                    <tr>
                        <td>Inglês</td>
                        <td>Fluente</td>
                    </tr>
                    <tr>
                        <td>Italiano</td>
                        <td>Fluente</td>
                    </tr>
                    <tr>
                        <td>Português</td>
                        <td>Fluente</td>
                    </tr>
                    <tr>
                        <td>Espanhol</td>
                        <td>Usual</td>
                    </tr>
                </table>
            </section>
        </main>
        <ContactCTA />
</CustomLayout>


<style>

	.category-cv {
		text-align: center;
		margin-top: 3%;
		margin-left: auto;
		margin-right: auto;
		border: 0.1rem solid var(--gray-100);
		padding: 1.5%;
		border-radius: 2.5rem;
		margin-bottom: 2%;
		margin-top: 5%;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 1%; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 1%; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}
	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	h3 {
		margin-top: 2%;
		margin-bottom: 3%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(---gray-900);
	}

	h3.category {
		margin-top: 2%;
		margin-bottom: 0.5%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(--sep-experience);
	}
	p {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		margin-bottom: 1%;
	}

	li.exp {
		width: 100%;
		text-align: justify;
		margin-bottom: 2%;
	}

	.description li {
    list-style-type: none; /* Supprime le style de liste par défaut */
    position: relative;
    padding-left: 1%; /* Espace pour la flèche */
}
	p.exp-header {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-decoration: underline;
		margin-bottom: 3%;
	}
	table {
		width: 40%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3%;
	}

	table.formation {
		width: 60%;
		border-collapse: collapse;
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
	}
	table.experience {
		width: 60%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	th {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
		background-color: var(---gray-900);
		color : var(--gray-400);
	}

	td {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
	}

	td.exp-separation {
		padding: 1%;
		text-align: center;
		border-bottom: 0.1rem solid var(--sep-experience);
	}
	.icon {
		background-color: #f44336;
		color: white;
		padding: 1% 1%;
		border-radius: 2%;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
