---
import Icon from '../../components/Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Especialista em Python, SQL e VBA</h2>
        <p>Como um entusiasta autodidata em programação, desenvolvo soluções de software eficientes em Python, com especialização em Data Scraping. Utilizo uma variedade de métodos, incluindo Selenium e Requests, para extrair dados enquanto contorno obstáculos como ReCaptcha e blacklisting. Além da minha prática profissional, sou também formador em Python e VBA, atuando em instituições de ensino superior, onde compartilho minha paixão e expertise.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Analista Financeiro e Analista de Dados</h2>
        <p>
		Com um diploma em finanças, destaco-me pela minha capacidade de combinar habilidades técnicas com um profundo entendimento dos desafios empresariais. Minha especialização está no desenvolvimento de painéis de controle sofisticados e no cálculo de margens, enquanto me concentro nas necessidades específicas do negócio para fornecer análises e recomendações personalizadas.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="ethereum" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Developer Web3, Javascript & Solidity</h2>
        <p>Especialista em Web3, desenvolvo soluções inovadoras utilizando Solidity e gerencio projetos de negociação algorítmica. As minhas competências estendem-se à interação API e gestão de projetos Blockchain, refletindo uma abordagem estratégica e orientada para o futuro.</p>
    </div>
</section>


<style>

	h2 {
			text-align: center;
		}
		p {
			text-align: justify;
		}
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
