---
import CustomLayout from '../../layouts/CustomLayout.astro';
import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';
---

<CustomLayout title="My Background | Benjamin Breton" description="Background of Benjamin Breton">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="My Background"
                tagline="Thank you for visiting. Continue reading below to learn more about me"
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Benjamin Breton working at his desk"
                />
            </Hero>
    </div>

        <section>
            <h3 class="category-cv"><Icon icon="terminal" /> Experiences</h2>
            <h3 class="category">Data Scraping</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Development of projects with <strong>Requests, Selenium, PyAutogui, and Scrapy</strong> libraries</li>
                            <li class="exp">Avoiding server-side blocks: random spaced requests, properly defined user-agent, and cookies</li>
                            <li class="exp">Automating authentication by <strong>login</strong></li>
                            <li class="exp">Avoiding <strong>ReCaptcha</strong> detection</li>
                            <li class="exp">Setting up an <strong>IP address change</strong> system</li>
                            <li class="exp">Data storage under <strong>MySQL/ PhpMyAdmin/ MariaDB</strong></li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Data Science Python</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Data preparation and analysis with <strong>Pandas, Numpy, and Math</strong> libraries</li>
                            <li class="exp">Data visualization with <strong>Matplotlib and Seaborn</strong> to obtain aesthetic graphs</li>
                            <li class="exp">Sending queries to SQL type databases with <strong>sqlAlchemy</strong></li>
                            <li class="exp">Dynamic dashboards with <strong>PowerBI</strong></li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Algorithmic Trading</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Using <strong>Math, Pandas, ta, and ta-lib</strong> for technical indicators calculation</li>
                            <li class="exp">Visualizing financial data with <strong>mplfinance</strong></li>
                            <li class="exp">Creating a trading algorithm with Binance API and WebSocket</li>
                            <li class="exp">Securing strategies with proactive cancellation of unexecuted orders</li>
                            <li class="exp">Maintaining performance tracking with KPIs available on a Telegram control interface</li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Pricing Analyst</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">CNH INDUSTRIAL - Turin - Italy - From November 2021 to October 2023</p>
                        <li class="exp">Development of an automated version of numerous price reports for the EMEA and AME regions.</li>
                        <li class="exp">Creation of an automation algorithm for missing price requests responses</li>
                        <li class="exp">Introduction of new KPIs, such as price elasticity, and design of innovative solutions for price repositioning.</li>
                        <li class="exp">Analysis with Alteryx software: assisting the logistics department in redefining suitable pack quantities based on our sales.</li>
                    </td>
                    
                </tr>

            </table>

            <h3 class="category">Strategic Buyer</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Airbus Helicopters - Marignane - Since September 2019</p>
                        <li class="exp">Managing a supplier portfolio (€3M annual turnover): Springs and Fittings</li>
                        <li class="exp">Emergency management of missing parts by requesting quotes from suppliers</li>
                        <li class="exp">Challenging suppliers with resourcing projects</li>
                    </td>
                    
                </tr>
            </table>      
        </section>
        <section>
            <h3 class="category-cv"><Icon icon="pencil-line" size="1.33em" /> Education</h2>
            <table class="formation">
                <tr>
                    <th>Institution</th>
                    <th>Program</th>
                    <th>Level</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>Kedge BS (EQUIS, AACSB and AMBA)</th>
                    <td>Programme Grande Ecole</th>
                    <td>Master 2</th>
                    <td>Bordeaux / Marseille</th>
                </tr>
                <tr>
                    <td>Lycée Emmanuel D'Alzon</th>
                    <td>CPGE ECS</th>
                    <td>Preparatory Class</th>
                    <td>Nimes</th>
                </tr>
            </table>
        </section>
            <section>
                <h3 class="category-cv"><Icon icon="microphone-stage" size="1.33em" /> Languages</h2>
                <table>
                    <tr>
                        <td>French</td>
                        <td>Native</td>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td>Fluent</td>
                    </tr>
                    <tr>
                        <td>Italian</td>
                        <td>Fluent</td>
                    </tr>
                    <tr>
                        <td>Portuguese</td>
                        <td>Fluent</td>
                    </tr>
                    <tr>
                        <td>Spanish</td>
                        <td>Conversational</td>
                    </tr>
                </table>
            </section>
        </main>
        <ContactCTA />
</CustomLayout>

<style>

	.category-cv {
		text-align: center;
		margin-top: 3%;
		margin-left: auto;
		margin-right: auto;
		border: 0.1rem solid var(--gray-100);
		padding: 1.5%;
		border-radius: 2.5rem;
		margin-bottom: 2%;
		margin-top: 5%;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 1%; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 1%; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}
	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	h3 {
		margin-top: 2%;
		margin-bottom: 3%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(---gray-900);
	}

	h3.category {
		margin-top: 2%;
		margin-bottom: 0.5%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(--sep-experience);
	}
	p {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		margin-bottom: 1%;
	}

	li.exp {
		width: 100%;
		text-align: justify;
		margin-bottom: 2%;
	}

	.description li {
    list-style-type: none; /* Supprime le style de liste par défaut */
    position: relative;
    padding-left: 1%; /* Espace pour la flèche */
}
	p.exp-header {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-decoration: underline;
		margin-bottom: 3%;
	}
	table {
		width: 40%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3%;
	}

	table.formation {
		width: 60%;
		border-collapse: collapse;
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
	}
	table.experience {
		width: 60%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	th {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
		background-color: var(---gray-900);
		color : var(--gray-400);
	}

	td {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
	}

	td.exp-separation {
		padding: 1%;
		text-align: center;
		border-bottom: 0.1rem solid var(--sep-experience);
	}
	.icon {
		background-color: #f44336;
		color: white;
		padding: 1% 1%;
		border-radius: 2%;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>