---
import Icon from '../../components/Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Expert Python, SQL & VBA</h2>
        <p>As a self-taught programming enthusiast, I develop efficient software solutions in Python, specializing in Data Scraping. I use a variety of methods, including Selenium and Requests, to extract data while circumventing obstacles such as ReCaptcha and blacklisting. In addition to my professional practice, I am a Python and VBA trainer, teaching in higher education institutions, where I share my passion and expertise.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Financial Analyst & Data Consultant</h2>
        <p>
			Holding a degree in finance, I stand out for my ability to merge technical skills with a deep understanding of business challenges. My specialization lies in the development of sophisticated dashboards and margin calculation, while focusing on specific business needs to provide tailored analyses and recommendations.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="ethereum" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Developer Web3, Javascript & Solidity</h2>
        <p>I design decentralized solutions on EVM blockchains, using a combination of React, Node.js, and Solidity. My technical expertise primarily extends to backend development, with a particular focus on API management and peer-to-peer data storage through IPFS. However, my versatility also allows me to handle the frontend for complete integration.</p>
    </div>
</section>


<style>

	h2 {
			text-align: center;
	}
	p {
		text-align: justify;
	}
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
