---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="Mon Parcours | Benjamin Breton" description="Parcours de Benjamin Breton">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon Parcours"
				tagline="Merci de votre visite. Continuez à lire ci-dessous pour en savoir plus à mon sujet"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Benjamin Breton au travail à son bureau"
				/>
			</Hero>

			<section>
				
				<h2 class="section-title"> <Pill><Icon icon="pencil-line" size="1.33em" /> Expériences</Pill> </h2>
				
				
				<div class="content box_explanation">
					<p>
						Avec une passion pour la technologie et un engagement envers l'innovation, ma carrière professionnelle est caractérisée par une expertise diversifiée en data science, finance et trading algorithmique. 
						Diplômé en finance, j'ai affiné mes compétences en programmation et en analyse de données, en me spécialisant notamment en Python.
						Je maîtrise des bibliothèques telles que Pandas, Numpy, Matplotlib et Seaborn, ce qui me permet d'analyser des données complexes et de créer des visualisations significatives.
					</p>
					<p>
						Mon parcours dans la finance, notamment en tant qu'analyste de pricing, m'a donné une solide compréhension des données financières.
						Cette expérience s'est enrichie par mon intérêt pour les cryptomonnaies, me conduisant à développer une expertise dans la création d'algorithmes de trading.
						J'ai conçu des systèmes automatisés pour le trading de cryptomonnaies et de produits financiers traditionnels, en utilisant des stratégies basées sur des indicateurs tels que le RSI, les bandes de Bollinger, le MACD et l'ATR.
						J'ai également intégré des mécanismes de contrôle pour assurer la pérennité et la sécurité des stratégies de trading.
					</p>
					<p>
						En parallèle, j'ai développé des compétences en data scraping, créant des workflows automatisés pour l'extraction de données web, et en programmant des algorithmes en C/C++ pour des transactions sur des plateformes décentralisées.
						Ma maîtrise d'Alteryx Designer m'a permis de proposer des solutions d'analyse de données sans code, rendant l'analyse de données accessible à un public plus large.
					</p>
					<p>
						Je suis également expérimenté dans le déploiement d'algorithmes sur le cloud, utilisant des technologies comme Docker pour garantir flexibilité et efficacité.
						Mon parcours reflète un équilibre entre compétences techniques, compréhension du monde financier et capacité à innover et à s'adapter dans un environnement en constante évolution.
						Je suis motivé par le désir d'apporter des solutions pragmatiques et efficaces, en poursuivant toujours l'apprentissage et l'amélioration dans tous les aspects de ma carrière professionnelle.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><Pill><Icon icon="code" size="1.33em" /> Formation</Pill></h2>
				<div class="content box_explanation">
					<p>Programme Grande Ecole - Spécialité Finance - KEDGE BS</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><Pill><Icon icon="microphone-stage" size="1.33em" /> Compétences</Pill></h2>
				<div class="content box_explanation">
					<p>Organisation, Analyse Critique, Gestion du temps</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 20px; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 30px; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}

	.box_explanation {
		/* display: inline-block; */
		background-color: var(--color-description-box);
		border-radius: 50px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 10px 60px;
		width: fit-content; /* Cette propriété permet à la boîte de s'adapter à la largeur du contenu */
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
