---
import Icon from '../../components/Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Esperto in Python, SQL e VBA</h2>
        <p>Come appassionato autodidatta di programmazione, sviluppo soluzioni software efficienti in Python, specializzandomi in Data Scraping. Utilizzo una varietà di metodi, inclusi Selenium e Requests, per estrarre dati superando ostacoli come ReCaptcha e il blacklisting. Oltre alla mia pratica professionale, sono anche un formatore in Python e VBA, insegnando in istituti di istruzione superiore, dove condivido la mia passione e la mia esperienza.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Analista finanziario e consulente dati</h2>
        <p>
			Con una laurea in finanza, mi distinguo per la mia capacità di fondere competenze tecniche con una profonda comprensione delle sfide aziendali. La mia specializzazione risiede nello sviluppo di cruscotti sofisticati e nel calcolo dei margini, concentrandomi sulle esigenze aziendali specifiche per fornire analisi e raccomandazioni su misura.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="ethereum" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Sviluppatore Web3, Javascript & Solidity</h2>
        <p>Progetto soluzioni decentralizzate su blockchain EVM, utilizzando una combinazione di React, Node.js e Solidity. La mia competenza tecnica si estende principalmente allo sviluppo backend, con una particolare esperienza nella gestione delle API e nello stoccaggio di dati peer-to-peer tramite IPFS. Tuttavia, la mia versatilità mi permette anche di occuparmi del frontend per un'integrazione completa.</p>
    </div>
</section>


<style>

	h2 {
			text-align: center;
		}
		p {
			text-align: justify;
		}
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
