---
import Icon from '../../components/Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Esperto in Python, C, C++, SQL e VBA</h2>
        <p>Appassionato di trasformazione di dati complessi, utilizzo Python e C++ per sviluppare soluzioni software efficienti. La mia esperienza si estende al Data Scraping, garantendo raccolta e analisi di dati accurati e pertinenti.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Analista finanziario e consulente dati</h2>
        <p>
			Laureato in finanza con esperienza come analista di pricing, offro servizi di consulenza, specializzato nel calcolo dei margini e creazione di dashboard.
			Il mio approccio consiste nel comprendere le problematiche aziendali specifiche prima di qualsiasi analisi per garantire raccomandazioni pertinenti e adattate.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="ethereum" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Sviluppatore Web3</h2>
        <p>Esperto di Web3, sviluppo soluzioni innovative utilizzando Solidity e gestisco progetti di trading algoritmico. Le mie competenze si estendono all'interazione API e alla gestione di progetti Blockchain, riflettendo un approccio strategico e orientato al futuro.</p>
    </div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
