---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Pill from '../../components/Pill.astro';
import Icon from '../../components/Icon.astro';
---

<BaseLayout title="Mon Parcours | Benjamin Breton" description="Parcours de Benjamin Breton">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Il mio percorso"
				tagline="Merci de votre visite. Continuez à lire ci-dessous pour en savoir plus à mon sujet"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Benjamin Breton au travail à son bureau"
				/>
			</Hero>

			<section>
				
				<h2 class="section-title"> <Pill><Icon icon="pencil-line" size="1.33em" /> Expériences</Pill> </h2>
				
				
				<div class="content box_explanation">
					<p>
						Ma carrière professionnelle se distingue par un intérêt soutenu pour la technologie et un engagement constant envers l'apprentissage et l'innovation.
						Avec un parcours académique en finance, j'ai consacré une part significative de ma carrière au développement de compétences en programmation et en analyse de données, avec une spécialisation en Python.
						Je possède une connaissance solide de bibliothèques Python telles que Pandas, Numpy, Matplotlib et Seaborn.
						Cette expertise me permet d'aborder efficacement des défis complexes en matière d'analyse de données et de création de visualisations pertinentes.
						Mon parcours est marqué par un apprentissage constant de nouveaux outils et techniques de programmation, ce qui reflète ma flexibilité et ma capacité à rester à la pointe dans des domaines en rapide évolution tels que la data science, la finance et le trading algorithmique.
					</p>
					<p>
						Mon rôle récent en tant qu'analyste de pricing a renforcé ma compréhension approfondie des données financières.
						Dans cette fonction, j'ai régulièrement travaillé avec des ensembles de données issus de sources variées, ce qui m'a permis de développer une aisance particulière dans toutes les phases du processus d'analyse de données – depuis la préparation et le nettoyage des données jusqu'à l'interprétation des résultats et la formulation de recommandations stratégiques.
						Un aspect clé de mon expérience a été l'utilisation quotidienne d'Alteryx, un outil puissant qui facilite des analyses complexes en un temps réduit. Grâce à Alteryx, j'ai pu créer des workflows efficaces qui non seulement optimisent le processus d'analyse, mais sont également compréhensibles même pour ceux qui n'ont pas de compétences avancées en programmation.
						Cette compétence a contribué significativement à l'amélioration de la prise de décision basée sur les données au sein de mon équipe et a permis une meilleure communication des insights à des parties prenantes variées.
					</p>
					<p>
						Parallèlement, j'ai mené une série de projets en data scraping, développant ainsi une expertise approfondie dans l'utilisation de bibliothèques telles que Selenium, Requests et Scrapy.
						Cette maîtrise me permet de répondre efficacement à une gamme étendue de besoins en matière de collecte de données sur le web, y compris dans des situations complexes nécessitant une authentification par login.
						Je tiens à souligner mon respect strict des conditions d'utilisation et des normes éthiques lors de la collecte de données sur différents sites internet. Cette approche responsable garantit la légitimité et la fiabilité des données recueillies.
						En exploitant ces données, je suis en mesure de fournir des rapports automatisés, tels que des études de positionnement, qui peuvent offrir des insights précieux pour l'élaboration de stratégies commerciales ou pour l'amélioration des performances de l'entreprise.
						Ces rapports sont conçus pour aider les organisations à mieux comprendre leur environnement concurrentiel et à prendre des décisions éclairées basées sur des données actualisées et pertinentes.
					</p>
					<p>
						Ma passion pour les nouvelles technologies m'a naturellement orienté vers le domaine émergent du Web3 et des crypto-actifs.
						Mon exploration dans cet univers a commencé par la création d'une collection de 10 000 Non-Fungible Tokens (NFTs), un projet qui m'a permis de me familiariser avec les smart contracts et le langage Solidity.
						Poursuivant mon immersion dans le monde des cryptomonnaies, j'ai développé des solutions de trading automatisées.
						J'ai travaillé aussi bien avec des DEX (Decentralized Exchanges) tels que Uniswap, qu'avec des plateformes plus traditionnelles, en exploitant notamment l'API de Binance. Ces initiatives m'ont conduit à élaborer des stratégies de trading sophistiquées, s'inspirant des bandes de Bollinger et de l'indice de force relative (RSI). Ces stratégies, semblables à une approche de type Spot Grid avec des palliers variables, ont démontré une efficacité notable dans divers contextes de marché.
						Pour maximiser l'accessibilité et le contrôle utilisateur, j'ai développé une interface interactive sur Telegram.
						Cette interface tire parti de la programmation asynchrone et du multithreading, permettant aux utilisateurs de gérer leurs stratégies de trading et de suivre les performances en temps réel.
						Ce projet témoigne de mon engagement à répondre aux besoins spécifiques des utilisateurs dans le domaine en rapide évolution des crypto-actifs.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><Pill><Icon icon="code" size="1.33em" /> Formation</Pill></h2>
				<div class="content box_explanation">
					<p>
						Diplomé d'un Programme Grande Ecole
						Spécialité Finance à KEDGE BS
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><Pill><Icon icon="microphone-stage" size="1.33em" /> Compétences</Pill></h2>
				<div class="content box_explanation">
					<p>Organisation, Analyse Critique, Gestion du temps</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 20px; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 30px; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}

	.box_explanation {
		/* display: inline-block; */
		background-color: var(--color-description-box);
		border-radius: 50px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 10px 60px;
		width: fit-content; /* Cette propriété permet à la boîte de s'adapter à la largeur du contenu */
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
