---
import CustomLayout from '../../layouts/CustomLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';
---

<CustomLayout title="Il Mio Percorso | Benjamin Breton" description="Il percorso di Benjamin Breton">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="Il Mio Percorso"
                tagline="Grazie per la visita. Continua a leggere qui sotto per saperne di più"
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Benjamin Breton lavorando alla sua scrivania"
                />
            </Hero>
    </div>

        <section>
            <h3 class="category-cv"><Icon icon="terminal" /> Esperienze</h2>
            <h3 class="category">Data Scraping</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Sviluppo di progetti con le librerie <strong>Requests, Selenium, PyAutogui e Scrapy</strong></li>
                            <li class="exp">Evitare blocchi lato server: richieste a intervalli casuali, user-agent e cookie definiti correttamente</li>
                            <li class="exp">Automatizzare l'autenticazione tramite <strong>login</strong></li>
                            <li class="exp">Evitare il rilevamento <strong>ReCaptcha</strong></li>
                            <li class="exp">Implementazione di un sistema di <strong>cambio dell'indirizzo IP</strong></li>
                            <li class="exp">Archiviazione dei dati sotto <strong>MySQL/ PhpMyAdmin/ MariaDB</strong></li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Data Science Python</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Preparazione e analisi dei dati con le librerie <strong>Pandas, Numpy e Math</strong></li>
                            <li class="exp">Visualizzazione dei dati con <strong>Matplotlib e Seaborn</strong> per ottenere grafici estetici</li>
                            <li class="exp">Inviare query a database di tipo SQL con <strong>sqlAlchemy</strong></li>
                            <li class="exp">Dashboard dinamici con <strong>PowerBI</strong></li>
                    </td>
                    
                </tr>
            </table>
            <h3 class="category">Trading Algoritmico</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Freelance</p>
                            <li class="exp">Uso di <strong>Math, Pandas, ta e ta-lib</strong> per il calcolo di indicatori tecnici</li>
                            <li class="exp">Visualizzazione di dati finanziari con <strong>mplfinance</strong></li>
                            <li class="exp">Creazione di un algoritmo di trading con Binance API e WebSocket</li>
                            <li class="exp">Sicurezza delle strategie con cancellazione proattiva degli ordini non eseguiti</li>
                            <li class="exp">Mantenimento del tracciamento delle prestazioni con KPI disponibili su un'interfaccia di controllo Telegram</li>
                    </td>
                </tr>
            </table>
            <h3 class="category">Analista dei Prezzi</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">CNH INDUSTRIAL - Torino - Italia - Da novembre 2021 a ottobre 2023</p>
                        <li class="exp">Sviluppo di una versione automatizzata di numerosi rapporti di prezzo per le regioni EMEA e AME.</li>
                        <li class="exp">Creazione di un algoritmo di automazione per le risposte alle richieste di prezzi mancanti</li>
                        <li class="exp">Introduzione di nuovi KPI, come l'elasticità dei prezzi, e progettazione di soluzioni innovative per il riposizionamento dei prezzi.</li>
                        <li class="exp">Analisi con il software Alteryx: assistenza al dipartimento logistico nella ridefinizione delle quantità di confezione adeguate in base alle nostre vendite.</li>
                    </td>
                    
                </tr>

            </table>

            <h3 class="category">Acquirente Strategico</h3>
            <table class="experience">
                <tr>
                    <td>
                        <p class="exp-header">Airbus Helicopters - Marignane - Dal settembre 2019</p>
                        <li class="exp">Gestione di un portafoglio di fornitori (3 milioni di euro di fatturato annuale): Molle e Raccordi</li>
                        <li class="exp">Gestione delle emergenze di parti mancanti tramite richieste di preventivi ai fornitori</li>
                        <li class="exp">Sfida ai fornitori con progetti di riallocazione</li>
                    </td>
                    
                </tr>
            </table>      
        </section>
        <section>
            <h3 class="category-cv"><Icon icon="pencil-line" size="1.33em" /> Formazione</h2>
            <table class="formation">
                <tr>
                    <th>Istituto</th>
                    <th>Programma</th>
                    <th>Livello</th>
                    <th>Luogo</th>
                </tr>
                <tr>
                    <td>Kedge BS (EQUIS, AACSB e AMBA)</th>
                    <td>Programma Grande Ecole</th>
                    <td>Master 2</th>
                    <td>Bordeaux / Marsiglia</th>
                </tr>
                <tr>
                    <td>Lycée Emmanuel D'Alzon</th>
                    <td>CPGE ECS</th>
                    <td>Classe Preparatoria</th>
                    <td>Nimes</th>
                </tr>
            </table>
        </section>
            <section>
                <h3 class="category-cv"><Icon icon="microphone-stage" size="1.33em" /> Lingue</h2>
                <table>
                    <tr>
                        <td>Francese</td>
                        <td>Madrelingua</td>
                    </tr>
                    <tr>
                        <td>Inglese</td>
                        <td>Fluente</td>
                    </tr>
                    <tr>
                        <td>Italiano</td>
                        <td>Fluente</td>
                    </tr>
                    <tr>
                        <td>Portoghese</td>
                        <td>Fluente</td>
                    </tr>
                    <tr>
                        <td>Spagnolo</td>
                        <td>Conversazionale</td>
                    </tr>
                </table>
            </section>
        </main>
        <ContactCTA />
</CustomLayout>

<style>

	.category-cv {
		text-align: center;
		margin-top: 3%;
		margin-left: auto;
		margin-right: auto;
		border: 0.1rem solid var(--gray-100);
		padding: 1.5%;
		border-radius: 2.5rem;
		margin-bottom: 2%;
		margin-top: 5%;
	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 1%; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 1%; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}
	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	h3 {
		margin-top: 2%;
		margin-bottom: 3%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(---gray-900);
	}

	h3.category {
		margin-top: 2%;
		margin-bottom: 0.5%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: var(--sep-experience);
	}
	p {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		margin-bottom: 1%;
	}

	li.exp {
		width: 100%;
		text-align: justify;
		margin-bottom: 2%;
	}

	.description li {
    list-style-type: none; /* Supprime le style de liste par défaut */
    position: relative;
    padding-left: 1%; /* Espace pour la flèche */
}
	p.exp-header {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-decoration: underline;
		margin-bottom: 3%;
	}
	table {
		width: 40%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3%;
	}

	table.formation {
		width: 60%;
		border-collapse: collapse;
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
	}
	table.experience {
		width: 60%;
		border-collapse: collapse;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
	}
	th {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
		background-color: var(---gray-900);
		color : var(--gray-400);
	}

	td {
		padding: 1%;
		text-align: center;
		border-bottom: 1px solid var(--gray-100);
	}

	td.exp-separation {
		padding: 1%;
		text-align: center;
		border-bottom: 0.1rem solid var(--sep-experience);
	}
	.icon {
		background-color: #f44336;
		color: white;
		padding: 1% 1%;
		border-radius: 2%;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>