---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Pill from '../../components/Pill.astro';
import Icon from '../../components/Icon.astro';
---

<BaseLayout title="La mia carriera | Benjamin Breton" description="Carriera de Benjamin Breton">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Il mio percorso"
				tagline="Grazie per la vostra visita. Continua a leggere qui sotto per saperne di più"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Benjamin Breton al lavoro alla sua scrivania"
				/>
			</Hero>

			<section>
				
				<h2 class="section-title"> <Pill><Icon icon="pencil-line" size="1.33em" />Esperienze</Pill> </h2>
				
				
				<div class="content box_explanation">
					<p>
						La mia carriera professionale si distingue per un costante interesse per la tecnologia e un costante impegno per l'apprendimento e l'innovazione.
						Con un background accademico in finanza, ho dedicato una parte significativa della mia carriera allo sviluppo di competenze nella programmazione e nell'analisi dei dati, con una specializzazione in Python.
						Ho una solida conoscenza delle librerie Python come Pandas, Numpy, Matplotlib e Seaborn.
						Questa competenza mi consente di affrontare in modo efficace sfide complesse nell'analisi dei dati e nella creazione di visualizzazioni pertinenti.
						Il mio viaggio è caratterizzato dall'apprendimento costante di nuovi strumenti e tecniche di programmazione, che riflette la mia flessibilità e capacità di rimanere all'avanguardia in campi in rapida evoluzione come la scienza dei dati, la finanza e il trading algoritmico.
					</p>
					<p>
						Il mio recente ruolo di analista dei prezzi ha rafforzato la mia conoscenza approfondita dei dati finanziari.
						In questo ruolo, ho lavorato regolarmente con set di dati provenienti da una varietà di fonti, il che mi ha permesso di sviluppare particolare dimestichezza in tutte le fasi del processo di analisi dei dati, dalla preparazione e pulizia dei dati fino all'interpretazione dei risultati e alla formulazione di raccomandazioni strategiche.
						Un aspetto fondamentale della mia esperienza è stato l'uso quotidiano di Alteryx, un potente strumento che facilita analisi complesse in breve tempo. Utilizzando Alteryx, sono stato in grado di creare flussi di lavoro efficienti che non solo ottimizzano il processo di analisi, ma sono anche comprensibili anche per chi non ha competenze di programmazione avanzate.
						Questa competenza ha contribuito in modo significativo al miglioramento del processo decisionale basato sui dati all'interno del mio team e ha consentito una migliore comunicazione delle informazioni alle varie parti interessate.
					</p>
					<p>
						Allo stesso tempo, ho guidato una serie di progetti di data scraping, sviluppando competenze approfondite nell'utilizzo di librerie come Selenium, Requests e Scrapy.
						Questa padronanza mi consente di rispondere efficacemente a un'ampia gamma di esigenze di raccolta dati web, anche in situazioni complesse che richiedono l'autenticazione del login.
						Vorrei sottolineare il mio rigoroso rispetto dei termini di utilizzo e degli standard etici durante la raccolta di dati su diversi siti web. Questo approccio responsabile garantisce la legittimità e l’affidabilità dei dati raccolti.
						Sfruttando questi dati, sono in grado di fornire report automatizzati, come studi di posizionamento, che possono offrire informazioni preziose per lo sviluppo di strategie aziendali o il miglioramento delle prestazioni aziendali.
						Questi report sono progettati per aiutare le organizzazioni a comprendere meglio il proprio ambiente competitivo e a prendere decisioni informate sulla base di dati tempestivi e pertinenti.
					</p>
					<p>
						La mia passione per le nuove tecnologie mi ha naturalmente indirizzato verso il campo emergente del Web3 e dei cripto-asset.
						La mia esplorazione in questo universo è iniziata con la creazione di una raccolta di 10.000 token non fungibili (NFT), un progetto che mi ha permesso di familiarizzare con gli smart contract e il linguaggio Solidity.
						Continuando la mia immersione nel mondo delle criptovalute, ho sviluppato soluzioni di trading automatizzato.
						Ho lavorato sia con DEX (Exchange Decentralizzati) come Uniswap, sia con piattaforme più tradizionali, in particolare sfruttando l'API Binance. Queste iniziative mi hanno portato a sviluppare sofisticate strategie di trading, ispirate alle bande di Bollinger e al Relative Strength Index (RSI). Tali strategie, simili ad un approccio di tipo Spot Grid a livelli variabili, hanno dimostrato notevole efficacia in diversi contesti di mercato.
						Per massimizzare l'accessibilità e il controllo da parte dell'utente, ho sviluppato un'interfaccia interattiva su Telegram.
						Questa interfaccia sfrutta la programmazione asincrona e il multithreading, consentendo agli utenti di gestire le proprie strategie di trading e monitorare le prestazioni in tempo reale.
						Questo progetto dimostra il mio impegno nel soddisfare le esigenze specifiche degli utenti nel campo in rapida evoluzione dei criptoasset.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><Pill><Icon icon="code" size="1.33em" />Allenamento</Pill></h2>
				<div class="content box_explanation">
					<p>
						Laureato in un programma della Grande Ecole
						Specialità finanziaria presso KEDGE BS
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title"><Pill><Icon icon="microphone-stage" size="1.33em" />Competenze</Pill></h2>
				<div class="content box_explanation">
					<p>Organizzazione, Analisi critica, Gestione del tempo</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding: 1.33em;
	}

	.content p {
		text-align: justify;
		margin-bottom: 20px; /* Cela ajoute 20 pixels d'espace en dessous de chaque paragraphe */
		margin-top: 30px; /* Ajustez la marge supérieure pour l'alignement */
		color: var(--color-description-text);
	}

	.box_explanation {
		/* display: inline-block; */
		background-color: var(--color-description-box);
		border-radius: 50px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		padding: 10px 60px;
		width: fit-content; /* Cette propriété permet à la boîte de s'adapter à la largeur du contenu */
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
