---
import Icon from './Icon.astro';
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Expert Python, C, C++, SQL et VBA</h2>
        <p>Passionné par la transformation de données complexes, j'utilise Python et C++ pour développer des solutions logicielles efficaces. Mon expertise s'étend au Data Scraping, garantissant une collecte et une analyse de données précises et pertinentes.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="cpu" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Analyste Financier & Consultant en Data</h2>
        <p>
			Diplômé en finance avec une expérience en tant qu'analyste de pricing, je propose des services de consulting, spécialisé dans le calcul de marges et la création de tableaux de bord.
			Mon approche consiste à comprendre les enjeux métiers spécifiques avant toute analyse pour assurer des recommandations pertinentes et adaptées.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="ethereum" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Développeur Web3</h2>
        <p>Expert en Web3, je développe des solutions innovantes en utilisant Solidity et gère des projets de trading algorithmique. Mes compétences s'étendent à l'interaction avec les API et à la gestion de projets Blockchain, reflétant une approche stratégique et orientée vers l'avenir.</p>
    </div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
